<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StokTakipProgramı.Properties.Settings.musteribilgileriveribaglantisiConnectionString"
            connectionString="Data Source=DESKTOP-N0CJVN5\SQLEXPRESS02;Initial Catalog=musteribilgileriveribaglantisi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>